<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Lounge</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link href="/css/general.css" rel="stylesheet" />
    <link href="/css/actor-page.css" rel="stylesheet" />
  </head>

  <body>

    <%- include ('../partials/header')  %>

    <main>
      <div class="actor-container">
        <div class="actor-left">
            <img
              src="https://media.themoviedb.org/t/p/w600_and_h900_bestv2<%= person.profile_path %>"
              width="300px"
              alt="Image"
            />
        </div>

        <div class="actor-right">
          <!-- div 1 -->
          <div>
            <h1><%= person.name %></h1>
            <form action="/likeActors" method="POST">
              <input class="likeButton" type="image" src="images/header-favorite.svg" alt="I Like">
              <input type="hidden" name="like_button" value="<%= person.id %>">
            </form>
            </a>
          </div>

          <!-- div 2 -->
          <div>
            <div class="information-snippet">
              <% if (person.known_for_department === 'Acting') { %>
              <p>Role: Actor</p>
              <% } else if (person.known_for_department === 'Directing') { %>
              <p>Role: Director</p>
              <% } else if (person.known_for_department === 'Production') { %>
              <p>Role: Producer</p>
              <% } else { %>
              <p><%= person.known_for_department %></p>
              <% } %>
            </div>
            <div class="information-snippet">
              <%  if(age === 'dead'){%>
                <p>Deceased</p>
                <% } else {%>
                <p>Age: <span><%= age %></span></p>
                <%  }%>
            </div>
            <div class="information-snippet">
              <% if(person.gender === 2){ %>
                <p>Gender: <span>Male</span></p>
                <% } else if(person.gender === 1) {  %>
                <p>Gender: <span>Female</span></p>
                <%} %>
            </div>
            <div class="information-snippet">
              <p>Born: <%= person.place_of_birth %></p>
            </div>
          </div>

          <!-- div 3 -->
          <div>
            <h2>Biography</h2>
            <p><%= person.biography %></p>
          </div>
        </div>
      </div>

      <div class="known-for">
        <h2>Known for</h2>
        <div class="known-for-container">
          <div>
            <% 
            // Sorteer de films/series op basis van vote_count
            movieCrew.cast.sort(function(a, b) {
                return b.vote_count - a.vote_count;
            });
            
            // Toon alleen de top 10
            movieCrew.cast.slice(0, 10).forEach(function(movie) { 
            %>
            <a href="/<%= movie.media_type === 'movie' ? 'movie' : 'serie' %>-page?id=<%= movie.id %>">
                <img src="https://media.themoviedb.org/t/p/w300_and_h450_bestv2<%= movie.poster_path %>" width="100px" alt="<%= movie.media_type === 'movie' ? movie.title : movie.name %>" class="actor-image">
                <p><%= movie.media_type === 'movie' ? movie.title : movie.name %></p>
            </a>
            <% }); %>
          </div>
          <div class="shadow-left"></div>
          <div class="shadow-right"></div>
        </div>
      </div>


        <!-- comments writing form -->
        <div class="comments">
          <h2>Comments about <%= person.name %>
          </h2>
          <div>
              <h2>
                  <%= posts.length %>
              </h2>
              <div>
                  <img src="/images/filter.svg">
                  <p>Sort by</p>
              </div>
          </div>


          <div class="write-comment">
              <img src="<%= user.profilePhoto %>">
              <form id="comment-form" action="/post-actor-thread" method="post">
                  <div>
                      <input type="text" id="comment" name="comment" placeholder="Add a comment" required />
                  </div>
                  <div>
                      <button type="reset">Cancel</button>
                      <button type="submit">Comment</button>
                  </div>
              </form>
          </div>

          <% if (posts && posts.length> 0) { %>
            <ul class="comment-container-parent">
                <% posts.forEach(post=> { %>
                    <li class="comment-container">
                        <img src='<%= post.pf %>'>
                        <div>
                            <div>
                                <h3>
                                    <%= post.username %>
                                </h3>
                                <p>
                                    <%= post.datetime %>
                                </p>
                            </div>
                            <p>
                                <%= post.body %>
                            </p>
                            <div>
                              <div>
                                <form action="/like-post" method="post">
                                  <input type="hidden" name="curUpvotes" value="<%= post.upvotes %>">
                                  <input type="hidden" name="postUsername" value="<%= post.username %>">
                                  <button type="submit"><img src="/images/thumbsup.svg" alt=""></button>
                                </form>
                                <p>
                                  <%= post.upvotes===0 ? '' : post.upvotes %>
                                </p>
                              </div>
                              <div>
                                <form action="/dislike-post" method="post">
                                    <input type="hidden" name="curDownvotes" value="<%= post.downvotes %>">
                                    <input type="hidden" name="postUsername" value="<%= post.username %>">
                                    <button type="submit"><img src="/images/thumbsdown.svg" alt=""></button>
                                </form>
                                <p>
                                  <%= post.downvotes===0 ? '' : post.downvotes %>
                                </p>
                              </div>
                            </div>
                          </div>
                      
                          <form action="/add-friend-moviePage" method="post">
                            <img src="/images/add-friend.svg">
                            <input type="hidden" name="postUsername" value="<%= post.username%>">
                            <input type="submit" value="Add <%= post.username %> to your friendlist">
                          </form>
                      </li>
                    <% }) %>
            </ul>
            <% } %>

      </div>
    </main>

    <footer></footer>
    <script src="/js/actor-page.js"></script>
    <script src="/js/general.js"></script>

    

  </body>
</html>



