<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Lounge</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link href="/css/general.css" rel="stylesheet" />
    <link href="/css/actor-page.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <div class="actor-plus-news">
        <div class="actor-name">
          <!-- div 1 -->
          <div>
            <h1><%= person.name %></h1>
            <a href="#">
              <img src="./images/header-favorite.svg" />
            </a>
          </div>

          <!-- div 2 -->
          <div>
            <div class="information-snippet">
              <p>Full name: <span><%= person.also_known_as[0] %></span></p>
            </div>
            <div class="information-snippet">
              <% if (person.known_for_department === 'Acting') { %>
              <p>Role: Actor</p>
              <% } else if (person.known_for_department === 'Directing') { %>
              <p>Role: Director</p>
              <% } else if (person.known_for_department === 'Production') { %>
              <p>Role: Producer</p>
              <% } else { %>
              <p><%= person.known_for_department %></p>
              <% } %>
            </div>
            <div class="information-snippet">
              <p>Age: <span><%= age %></span></p>
            </div>
            <div class="information-snippet">
                <p>Born: <%= person.place_of_birth %></p>  
            </div>
          </div>

          <!-- div 3 -->
          <div>
            <img
              src="https://media.themoviedb.org/t/p/w600_and_h900_bestv2<%= person.profile_path %>"
              width="300px"
              alt="Image"
            />
            <h2>Biography</h2>
            <p><%= person.biography %></p>
          </div>
        </div>

        <!-- <div class="news-about-container">
          <h2>News about Timothee</h2>
          <div class="news-about">
            <div>
              <img src="./images/dune2.png" />
              <div>
                <h3>
                  'Dune 2' spices up the box office after a months-long dry
                  spell
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images//kylie.png" />
              <div>
                <h3>
                  Kylie Jenner and Timothée Chalamet’s Full Relationship
                  Timeline
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images/timnkylie.png" />
              <div>
                <h3>
                  'Dune 2' spices up the box office after a months-long dry
                  spell
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images/timnstudent.jpg" />
              <div>
                <h3>
                  'Dune 2' spices up the box office after a months-long dry
                  spell
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images/dune2.png" />
              <div>
                <h3>
                  'Dune 2' spices up the box office after a months-long dry
                  spell
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images//kylie.png" />
              <div>
                <h3>
                  Kylie Jenner and Timothée Chalamet’s Full Relationship
                  Timeline
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images/timnkylie.png" />
              <div>
                <h3>
                  'Dune 2' spices up the box office after a months-long dry
                  spell
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
            <div>
              <img src="./images/timnstudent.jpg" />
              <div>
                <h3>
                  'Dune 2' spices up the box office after a months-long dry
                  spell
                </h3>
                <p>3rd of March • 20:53</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="comments">
        <h2>Comments about <%= person.name%></h2>
        <div>
          <h2>3</h2>
          <div>
            <img src="./images/filter.svg" />
            <p>Sort by</p>
          </div>
        </div>
        <div class="write-comment">
          <img src="./images/profileplaceholder.png" />
          <div>
            <div>
              <input
                type="text"
                id="comment"
                name="comment"
                placeholder="Add a comment"
                required
              />
            </div>
            <div>
              <button>Cancel</button>
              <button>Comment</button>
            </div>
          </div>
        </div>
        <div class="comment-container-parent">
          <!-- first comment -->
          <div class="comment-container">
            <img src="./images/profileplaceholder.png" />
            <div>
              <div>
                <h3>@NAAMUSER</h3>
                <p>4 months ago</p>
              </div>
              <p>Wow.. I knew Timotee was hot but... I LOVE HIM SM</p>
              <div>
                <div>
                  <img src="./images/thumbsup.svg" />
                  <p>10K</p>
                </div>
                <div>
                  <img src="./images/thumbsdown.svg" />
                  <p>200</p>
                </div>
              </div>
              <p>Reply</p>
            </div>
          </div>
          <!-- second comment -->
          <div class="comment-container">
            <img src="./images/profileplaceholder.png" />
            <div>
              <div>
                <h3>@NAAMUSER</h3>
                <p>4 months ago</p>
              </div>
              <p>Wow.. I knew Timotee was hot but... I LOVE HIM SM</p>
              <div>
                <div>
                  <img src="./images/thumbsup.svg" />
                  <p>10K</p>
                </div>
                <div>
                  <img src="./images/thumbsdown.svg" />
                  <p>200</p>
                </div>
              </div>
              <p>Reply</p>
            </div>
          </div>
          <!-- third comment -->
          <div class="comment-container">
            <img src="./images/profileplaceholder.png" />
            <div>
              <div>
                <h3>@NAAMUSER</h3>
                <p>4 months ago</p>
              </div>
              <p>Wow.. I knew Timotee was hot but... I LOVE HIM SM</p>
              <div>
                <div>
                  <img src="./images/thumbsup.svg" />
                  <p>10K</p>
                </div>
                <div>
                  <img src="./images/thumbsdown.svg" />
                  <p>200</p>
                </div>
              </div>
              <p>Reply</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
    <script src="./public/js/actor-page.js"></script>
    <script src="./public/js/general.js"></script>
  </body>
</html>
