<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Lounge</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/actor-page.css" rel="stylesheet">
</head>

<body>

    <%- include ('../partials/header')  %>
    <main>
        <div class="actor-container">
            <div class="actor-left">
                <img
                src="https://media.themoviedb.org/t/p/w600_and_h900_bestv2<%= person.profile_path %>"
                alt="Image"
              />
            </div>
            <div class="actor-right">
                <!-- div 1 -->
                <div>
                    <h1><%= person.name %></h1>
                    <a href="#">
                        <img src="/images/header-favorite.svg">
                    </a>
                </div>

                <!-- div 2 -->
                <div>
                    <div class="information-snippet">
                      <% if (person.known_for_department === 'Acting') { %>
                      <p>Role: Actor</p>
                      <% } else if (person.known_for_department === 'Directing') { %>
                      <p>Role: Director</p>
                      <% } else if (person.known_for_department === 'Production') { %>
                      <p>Role: Producer</p>
                      <% } else { %>
                      <p><%= person.known_for_department %></p>
                      <% } %>
                    </div>
                    <div class="information-snippet">
                      <p>Age: <span><%= age %></span></p>
                    </div>
                    <div class="information-snippet">
                      <% if(person.gender === 2){ %>
                        <p>Gender: <span>Male</span></p>
                        <% } else if(person.gender === 1) {  %>
                        <p>Gender: <span>Female</span></p>
                        <%} %>
                    </div>
                    <div class="information-snippet">
                      <p>Born: <%= person.place_of_birth %></p>
                    </div>
                  </div>

                <!-- div 3 -->
                <div>
                    <h2>Biography of <%= person.name %></h2>
                    <p>
                        <%= person.biography %>
                    </p>
                </div>
            </div>
        </div>


        <div class="comments">
            <h2>Comments about <%= person.name %></h2>
            <div>
                <h2><%= posts.length %></h2>
                <div>
                    <img src="/images/filter.svg">
                    <p>Sort by</p>
                </div>
            </div>
            <div class="write-comment">
                <img src="<%= user.profilePhoto %>">
                <div>
                    <form id="comment-form" action="/post-thread" method="post">
                        <div>
                          <input
                            type="text"
                            id="comment"
                            name="comment"
                            placeholder="Add a comment"
                            required
                          />
                        </div>
                        <div>
                          <button type="reset">Cancel</button>
                          <button type="submit">Comment</button>
                        </div>
                      </form>
                </div>
            </div>

            <div class="comment-container-parent">

                <% if (posts && posts.length > 0) { %>
                  <ul>
                      <% posts.forEach(post => { %>
                <div class="comment-container">
                    <img src='<%= post.pf %>'>
                    <div>
                        <div>
                            <h3><%= post.username %></h3>
                            <p><%= post.datetime %></p>
                        </div>
                        <p><%= post.body %></p>
                        <div>
                            <div>
                                <form action="/like-post" method="post">
                                    <input type="hidden" name="curUpvotes" value="<%= post.upvotes %>">
                                    <input type="hidden" name="postUsername" value="<%= post.username %>">
                                    <button type="submit"><img src="/images/thumbsup.svg" alt=""></button>
                                  </form>
                                  <p><%= post.upvotes === 0 ? '' : post.upvotes %></p>
                            </div>
                            <div>
                                <form action="/dislike-post" method="post">
                                    <input type="hidden" name="curDownvotes" value="<%= post.downvotes %>">
                                    <input type="hidden" name="postUsername" value="<%= post.username %>">
                                    <button type="submit"><img src="/images/thumbsdown.svg" alt=""></button>
                                  </form>
                                  <p><%= post.downvotes === 0 ? '' : post.downvotes %></p>
                            </div>
                        </div>
                    </div>
                    <form action="/add-friend" method="post">
                        <input type="hidden" name="postUsername" value="<%= post.username%>">
                        <button type="submit">
                            <img src="/images/add-friends.svg">
                            <p>Add <%= post.username %> </p>
                        </button>
                      </form>
                </div>
            </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No posts found.</p>
    <% } %>


            </div>
        </div>



    </main>
    <script src="/js/actor-page.js"></script>
    <script src="/js/general.js"></script>
</body>

</html>