<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="/css/general.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">
</head>


<body>
    <!-- partial -->
    <%- include('../partials/header.ejs') %>
        <div class="search-results">
            <h1>Search results</h1>
            <div class="movie-grid-outer">
                <div class="movie-grid-inner">


                    <% searchResult.results.forEach(function(result) { %>
                        <% if (result.poster_path || result.profile_path) { %> <!-- Check of er een poster_path of profile_path beschikbaar is -->
                            <div>
                                <div>
                                    <img src="https://image.tmdb.org/t/p/w200<%= result.poster_path || result.profile_path %>" alt="Image">
                                </div>
                                <div>
                                    <% if (result.media_type==='movie' ) { %>
                                        <h2><a href="/movie-page?id=<%= result.id %>"><%= result.title %></a></h2>
                                    <% } else if (result.media_type==='tv' ) { %>
                                        <h2><a href="/serie-page?id=<%= result.id %>"><%= result.name %></a></h2>
                                    <% } else if (result.media_type==='person' ) { %>
                                        <h2><a href="/actors?id=<%= result.id %>"><%= result.name %></a></h2>
                                    <% } %>
                                </div>
                                <!-- hardcoded elements for now -->
                            </div>
                        <% } %>
                    <% }); %>
                    



                </div>
            </div>
        </div>

        <script src="../public/js/tmdb.js"></script>



</body>

</html>