<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


  <form action="/search" method="GET">
    <input type="text" name="searchText"> 
    <input type="submit" value="SEARCH">
</form>

  <h1>Trending Series</h1>
      
  <ul>
    <% seriesData.forEach(function(serie) { %>
      <li>
        <% if (serie.posterPath) { %>
          <img src="<%= serie.posterPath %>" alt="<%= serie.name %>" width="100px">
        <% } %>
        <span><%= serie.name %></span>
        <br>
        <a href="/serieTest?id=<%= serie.id %>">Bekijk details</a>
      </li>
    <% }); %>
  </ul>
      
      <h1>Trending movies</h1>
      
      <ul>
        <% moviesData.forEach(function(movie) { %>
          <li>
            <% if (movie.posterPath) { %>
              <img src="<%= movie.posterPath %>" alt="<%= movie.title %>" width="100px">
            <% } %>
            <span><%= movie.title %></span>
            <br>
            <a href="/movieTest?id=<%= movie.id %>">Bekijk details</a>
          </li>
        <% }); %>
      </ul>

  <h1>Trending Actors</h1>

  <ul>
      <% actorsData.forEach(function(actor) { %>
        <li>
          <% if (actor.profilePath) { %>
            <img src="<%= actor.profilePath %>" alt="<%= actor.name %>" width="100px">
          <% } %>
          <span><%= actor.name %></span>
          <br>
          <a href="/actors?id=<%= actor.id %>">Bekijk details</a>
        </li>
      <% }); %>
    </ul>


    <script src="../public/js/tmdb.js"></script>
    <style>
      ul {
        display: flex;
      }

      li {
        list-style: none;
      }
    </style>



</body>

</html>